Package: r-cran-race
Version: 0.1.55
Section: math
Priority: optional
Architecture: powerpc
Depends: r-base-core (>= 2.0.0)
Installed-Size: 260
Maintainer: Mauro Birattari <mbiro@ulb.ac.be>
Description: GNU R package for the selection of the best via racing
 GNU R implementation of frace and some racing methods for the
 empirical selection of the best.
